<% @diseases.each do |disease| %>
  <%= link_to disease_path(disease) do %>
    <div class="card-disease">
    <%= image_tag disease.image %>
      <div class="card-product-infos">
        <h2><%= disease.name %></h2>
        <p><%= disease.description %></p>
      </div>
    </div>
  <% end %>
<% end %>



