    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row justify-content-center">
            <% chosen_disease = @disease.name  %>
            <h4 class="text-center">Sure you want <strong><%=chosen_disease %></strong> ?</h4>
            <div class="card-disease my-3">
              <%= cl_image_tag @disease.image.key, height: 300, width: 400, crop: :fill %>
              <p class="mx-3"><%= @disease.description %></p>
            </div>
            <br>
            <%= link_to "Book This Disease", new_disease_booking_path(@disease), class: "btn btn-flat btn pull-right mt-3" %>
          </div>
        </div>
      </div>
    </div>
