
<div class="container text-center mt-3">

  <h1>Sick of being well? Rent a sickness!</h1>
  <h3>Trending</h3>

<br>


  <% @selection.each do |s| %>
    <%= link_to disease_path(s) do %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-disease align-content">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <h2><%= s.name %></h2>
          <p><%= s.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>





