.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  display: flex;
  justify-content: space-between;
}

.cards a {
  color : black;
}

.cards a:hover {
  text-decoration: none;
}


.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.cards-index a {
  color : black;
}

.cards-index a:hover {
  text-decoration: none;
}

.card_category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-disease {
  overflow: hidden;
  height: 200px;
  width : 450px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-disease img {
  height: 100%;
  width: 180px;
  min-width: 180px;
  object-fit: cover;
}

.card-disease h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
}

.card-disease p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left : 8px;
}

.card-disease .card-disease-infos {
  padding: 16px;
}

.card-profil {
  border-radius: 4px;
  padding: 36px;
  margin-bottom: 20px;
  margin-top: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-profil h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom : 30px
}

.card-profil li {
  list-style: none;
  padding: 4px;
}

.card-profil a {
  color: white;
}
